<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441294444555-4j9qftdios2ackkk29o2vs0j9riedsof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441294444555-4j9qftdios2ackkk29o2vs0j9riedsof</string>
	<key>API_KEY</key>
	<string>AIzaSyAvMfzHQkFrgdPU_a7QLPWyIFUHkYvQaPY</string>
	<key>GCM_SENDER_ID</key>
	<string>441294444555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rocks.mobileera.Mobile-Era</string>
	<key>PROJECT_ID</key>
	<string>mobileera-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileera-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441294444555:ios:7c42edfa9b5abdabe34f0e</string>
	<key>DATABASE_URL</key>
	<string>https://mobileera-2019.firebaseio.com</string>
</dict>
</plist>